{% include "modules/status-bar.njk" %}
{% include "modules/header.njk" %}
{% include "modules/forecast.njk" %}
{% include "modules/airly-bar.njk" %}
<div class="columns">
    {% include "modules/calendar.njk" %}
    {% include "modules/synonym.njk" %}
</div>
{% set imageFile = "assets/grooming-cat.svg" %}
{% include "modules/bottom-image.njk" %}