{% include "modules/status-bar.njk" %}
<div class="main-area">
  {% include "modules/date.njk" %}
  {% include "modules/calendar.njk" %}
</div>
{% include "modules/forecast.njk" %}
{% include "modules/airly-bottom.njk" %}