<style>
  .airly-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    text-align: center;
    background-color: var(--bg);
    color: var(--text-color);
    height: 46px;
    border-top: 2px solid var(--alternative-bg);
    border-bottom: 2px solid var(--alternative-bg);
  }

  .airly-bar > * {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
  }

  .airly-bar > *:nth-child(even) {
    background-color: var(--alternative-bg);
  }

  .airly-logo {
    width: 80px;
    padding: 10px;
    flex-grow: 0;
  }

  .legend {
    font-size: 12px;
    color: var(--text-color-dim);
  }

  .air-quality {
    font-size: 20px;
  }

  .error-label {
    flex-grow: 0;
    font-size: 16px;
  }

  .airly-error {
    text-align: start;
    align-items: flex-start;
    font-size: 16px;
  }
</style>
<div class="airly-bar">
  <img class="airly-logo" src="https://cdn.airly.org/assets/brand/logo/primary/airly.svg" alt="airly-logo"/>
  {% if airly.type === "data" %}
    <div class="air-quality">
      <span>{{ airly.airQuality.label }}:
        <strong>{{ airly.airQuality.value | int }}</strong>
      </span>
    </div>
    <div>
      <div class="legend">PM 2.5</div>
      <div>{{ airly.pm25.percent | int }}%</div>
    </div>
    <div>
      <div class="legend">PM 10</div>
      <div>{{ airly.pm10.percent | int }}%</div>
    </div>
    <div>
      <div class="legend">Humid</div>
      <div>{{ airly.humidity | int }}%</div>
    </div>
    <div>
      <div>{{ airly.pressure | int }}</div>
      <div class="legend">hPa</div>
    </div>
  {% else %}
    <div class="error-label">Error:</div>
    <div class="airly-error">{{ airly.error }}</div>
  {% endif %}
</div>