<style>
    .bottom-image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        opacity: 0.2;
    }
</style>
<div class="bottom-image">
    {% include imageFile %}
</div>