<style>
    .bottom-image {
        position: absolute;
        bottom: 0;
        left: calc(50% - 50px);
        width: 100px;
        opacity: 0.2;
    }
</style>
<div class="bottom-image">
    {% include imageFile %}
</div>