<style>
    h1.date {
        text-transform: capitalize;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 1px;
        text-align: center;
        margin: 16px 0;
    }
</style>
<h1 class="date">{{ date }}</h1>