<style>
  .forecast {
    flex-shrink: 0;
  }

  .forecast-header {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    align-self: center;
  }

  .meteogram-container {
    overflow: hidden;
    max-width: 100%;
    position: relative;
    height: 149px;
  }

  .meteogram {
    position: relative;
    top: -111.756px;
    left: -0.3px;
  }
</style>
<div class="forecast">
  <div class="forecast-header">Pogoda:</div>
  <div class="meteogram-container">
    <img
      class="meteogram"
      alt="meteogram"
      src="https://www.yr.no/en/content/2-3094802/meteogram.svg"
    />
  </div>
</div>
