<style>
  .forecast {
    flex-shrink: 0;
    padding-top: 4px;
    border-top: 1px solid var(--alternative-bg);
  }

  .meteogram-container {
    overflow: hidden;
    max-width: 100%;
    position: relative;
    height: 149px;
  }

  .meteogram {
    position: relative;
    top: -111.756px;
    left: -0.3px;
  }
</style>
<div class="forecast">
  <div class="meteogram-container">
    <img class="meteogram" alt="meteogram" src="https://www.yr.no/en/content/2-3094802/meteogram.svg"/>
  </div>
</div>