<style>
  .quote {
    margin: auto 8px 8px;
    overflow: hidden;
    font-size: 18px;
    line-height: 22px;
  }

  .quote-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
  }

  .quote-text {
    font-style: italic;
    text-align: center;
    margin-bottom: 8px;
  }

  .quote-author {
    text-align: right;
    color: var(--text-color-dim);
  }
</style>
<div class="quote">
  <div class="quote-title">Cytat dnia:</div>
  <div class="quote-text">{{quote.content}}</div>
  <div class="quote-author">{{quote.author}}</div>
</div>