<style>
  .status-bar {
    --bg: black;
    --text-color: white;
    --text-color-dim: #bbb;

    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 8px;
    box-sizing: border-box;
    line-height: 22px;
    background: var(--bg);
    color: var(--text-color);
  }

  .time span {
    color: var(--text-color-dim);
  }

  .schedule {
    margin-left: auto;
    color: var(--text-color-dim);
  }

  .battery {
    margin-left: auto;
  }

  .battery-icon {
    border: 3px solid var(--text-color);
    background: linear-gradient(90deg, var(--text-color) var(--battery), var(--bg) var(--battery));
    box-sizing: border-box;
    width: 32px;
    height: 16px;
    display: inline-block;
    clip-path: polygon(0 0, 90% 0, 90% 20%, 100% 20%, 100% 80%, 90% 80%, 90% 100%, 0 100%);
    position: relative;
    top: 1px;
  }
</style>
<div class="status-bar">
  <div class="time">
    <span>Updated:</span>
    {{time}}
    <span>Next: {{nextRefreshTime}}</span>
  </div>
  <div class="schedule">Schedule: {{refreshSchedule}}</div>
  <div class="battery">
    <span class="battery-icon"></span>
    <span class="battery-percentage">{{ battery | default("-- ") }}%</span>
  </div>
</div>