{% if synonym %}
    <style>
        .synonym,
        .synonym-error {
            padding: 8px 8px 0;
            background: var(--bg);
        }

        .synonym {
            font-size: 16px;
        }

        .synonym h2 {
            font-size: 18px;
            margin-block-start: 2px;
            text-align: center;
        }

        .synonym p {
            margin-block-start: 8px;
            margin-block-end: 8px;
        }

        .synonym .sotd-item__desc-title a {
            color: black !important;
        }
    </style>
    {% if synonym.type === "data" %}
        <div class="synonym">
            {{ synonym.title | safe }}
            {{ synonym.description | safe }}
        </div>
    {% else %}
        <div class="synonym-error">
            {{ synonym.error }}
        </div>
    {% endif %}
{% endif %}